name: Test
on:
  pull_request_target:
  push:
    tags: testtag


jobs:
  job:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Env
        run: env
      - name: Event data
        run: cat $GITHUB_EVENT_PATH
